chat {
  font-family: 'Roboto', Arial;
  color: #337ab7;
  font-weight: 100;
  font-size: 16px;
}

chat input, chat li {
  width: 100%;
}

chat input {
  border: 1px solid #337ab7;
  margin: 4px 0;
  padding: 10px;
}

chat li {
  list-style-type: none;
}

.left {
  padding-left: 0; 
  padding-top: 19px;  
}
.text-box {
  margin-top: 20px;
  border: 1px solid #337ab7;

}
.action.btn {
  margin: 5px;
}

.hand.btn {
  margin: 2px;
}

.master {
  background: #eee;
  font-style: italic;
  color:black;
  font-size: 14px;

}

.text-box {
  height: 50%;
  overflow: auto;
}

info_box {
  font-size:12px;
}

info_box li {
}

.list-group {
  margin-bottom: 0; 
}
.list-group-item-heading {
  color: #31708f;
  font-size: 12px;
  font-weight: bold;
}

.panel {
  margin-bottom: 5px;
}
.panel-title {
  font-size:14px;
}
.panel-body {
    padding: 0 5px;
}

ol, ul {
    padding:5px;
    margin-bottom: 0;    
}
